@font-face {
  font-family: 'HelveticaNeue-Thin'; /*a name to be used later*/
  src: url('../images/HelveticaNeue-Thin.otf'); /*URL to font*/
}
.main-container {
	margin: 4% 12% 0 12%;
}
.title-container {
	text-align: center;
}
.slots-container {
	margin: 3% 5% 0 5%;
	border: 1px solid black;
	box-shadow: 0 0 15px #464646;
	border-radius: 10px;
}
.logo-container img {
	width: 400px;
	height: auto;
}
.reel-container {
	border: 3px solid black;
	padding: 2% 0 4.5% 0;
	margin: 0 11% 0 11%;
	background-color: #464646;
	border-radius: 10px;
	box-shadow: 0 0 5px #464646;
}
.reel-container.orange-border { 
	border: 3px solid #f93; 
}
.slots {
	font-size:100px;
	overflow: hidden;
  width: 75%;
	height: 100px;
	border: 1px solid black;
	display: inline;
	margin-right: 5%;	
	box-shadow: 0 0 5px #464646;
	border-radius: 10px;
	background-color: white;
	position: relative;
	background-repeat: repeat-y;
  padding: 2% 10% 5% 15%;
  background-size: 91.5%;
  background-position: 12px 0;   
}
.slot-one {  
  background-image: url(../images/slot1_all2.png);   
}
.slot-two {  
  background-image: url(../images/slot2_all2.png);   
}
.slot-three {  
  background-image: url(../images/slot3_all2.png);   
  margin: 0;
}
.spinning1 {
	-webkit-animation: backgroundScroll 1s linear infinite;
	animation: backgroundScroll 1s linear infinite;
}
.spinning2 {
	-webkit-animation: backgroundScroll 5s linear infinite;
	animation: backgroundScroll 7s linear infinite;
}
.spinning3 {
	-webkit-animation: backgroundScroll 8s linear infinite;
	animation: backgroundScroll 4s linear infinite;
}
@-webkit-keyframes backgroundScroll {
	from {background-position: 12px 0;}
	to {background-position: 12px 800px;}
}
@keyframes backgroundScroll {
	from {background-position: 12px 0;}
	to {background-position: 12px 800px;}
}
.slots img {
	width: 150px;
	height: auto;
}
.white-background {
	background-color: white;
}
.button-container {
	overflow: auto;
	margin: 4% 0 3% 0;
	padding: 1%;
}
.spin-text {
	display: inline-block;
	height: 90px;
  line-height: 90px;
}
.round-button {	
  border-radius: 50%;
  border: 3px solid #f5f5f5;
  overflow: hidden;
  background: #464646;
  box-shadow: 0 0 10px #464646;   
  display: inline-block;
  vertical-align: middle;
  margin-left: 2%;
}
.round-button:hover {
  background: #262626;
}
.button-sub-container {
	/*float: right;*/
	min-width: 50px;
	min-height: 50px;
}
.round-button img {
	width: 60px;
	height: auto;
	margin: 15px;
}

/* modal adjustments */
.reward-modal {
	margin-top: 5%;
}
.reward img {
	width: 300px;
	height: auto;
	display: block;
	margin: 0 auto;
}

/*media queries for smaller screens*/
@media (max-width: 1250px) {	
	.reel-container {
		margin: 0 5% 0 5%;
	}
}
@media (min-width: 700px) and (max-width: 1080px) {
	.slots img {
		width: 100px;
		height: auto;
	}	
	.reel-container {
		margin: 0 2% 0 2%;
	}
}
@media (max-width: 699px) {
	.slots img {
		width: 50px;
		height: auto;
	}	
	.logo-container img {
		width: 200px;
		height: auto;
	}
	.round-button img {
		width: 30px;
	}
}
